*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;   
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjus: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.top {
    line-height:  30px;

}
.nomar {
    display: block;

    margin-top: 20px;
}
.under {
    display: block;
    margin-bottom: 20px;

}

.maxs {
    min-height: 30px;
    border: 1px solid #000;
}
.stringe {
    display: inline;

}
.str {
    display: inline-block;
    margin-left: 30px;
}
.mar {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.marright {
    display: inline-block;
    padding-right: 20px ;
    border: 1px solid #000;
}
.blocktopunder {
    display: block;
    padding: 40px 00px 40px 0px;
    border: 1px solid #000;
}